<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.nusapplewatchconnectivity" version="0.0.1" 
	xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>NUSAppleWatchConnectivity</name>
    <description>Apple Watch Connectivity Plugin</description>
    <author>NUS Technology</author>
    <license>Apache 2.0 License</license>
    <keywords>Apple watch, Apple watch connectivity</keywords>
    <!-- <repo>https://github.com/Telerik-Verified-Plugins/NativePageTransitions.git</repo> -->

    <!-- <issue>https://github.com/Telerik-Verified-Plugins/NativePageTransitions/issues</issue> -->

    <engines>
        <engine name="cordova" version=">=7.1.0"/>
        <engine name="cordova-ios" version=">=4.5.4" />
    </engines>
    <js-module name="NUSAppleWatchConnectivity" src="www/NUSAppleWatchConnectivity.js">
        <clobbers target="cordova.plugins.NUSAppleWatchConnectivity" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="NUSAppleWatchConnectivity">
                <param name="ios-package" value="NUSAppleWatchConnectivity" onload="true"/>
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleURLTypes" >
            <array>
                <dict>
                    <key>UIBackgroundModes</key>
                    <array>
                        <string>fetch</string>
                        <string>remote-notification</string>
                    </array>
                </dict>
            </array>
        </config-file>
        <header-file src="src/NUSAppleWatchConnectivity.h"/>
        <source-file src="src/NUSAppleWatchConnectivity.m"/>
    </platform>
</plugin>
